body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  
}

header {
    background-color: #111827;
    padding: 20px;
    text-align: centre;

}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;

}


.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear_gradient(to right, #0f172a, #1e293b);

}


.hero h2 {
    font-size: 45px;
    color: #38bdf8;

}


.hero p {
    font-size: 20px;

}


.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;

}


.section {
    padding: 50px 20px;
    width: 80%;
    margin: auto;

}


.card {
    background-color: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

}


img{
  width: 250px;
  border-radius: 10px;
  margin: 10px;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #111827;

}


.logo-area{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

nav{
    margin-top: 15px;
}

nav a{
    color: white;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    color: #38bdf8;
}

.hero{
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #0f172a, #1e293b);
}

.hero h2{
    font-size: 55px;
    color: #38bdf8;
}

.hero p{
    font-size: 22px;
    max-width: 700px;
    margin:auto;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img{
    width: 280px;
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform o.3s;
}

.gallery img:hover{
    transform: scale(1.05);
}